body {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    background-color: #FFF4E2;
}

.page-container {
    max-width: 1200px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #164bff;*/
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /*background-color: red;*/
}

/* <<<<<<<<<<<<<<<<<< MAIN PAGE >>>>>>>>>>>>>>>>>> */
.hero-section {
    padding-top: 50px;
    padding-bottom: 60px;
}

.page-main {
    padding-left: 100px;
    padding-right: 100px;
}


.page-section {
    padding-top: 10px;
    padding-bottom: 80px;
}

/* <<<<<<<<<<<<<<<<<< HEADINGS >>>>>>>>>>>>>>>>>> */

h1 {
    font-family: "Abhaya Libre ExtraBold", serif;
    font-weight: 700;
    font-size: 65px;
    color: #080914;
    letter-spacing: 0.01em;
}

h2 {
    font-family: "Sen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #080914;
}

h3 {
    font-family: "Sometype Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #080914;
}

p {
    font-family: Sen, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #080914;
}



/* <<<<<<<<<<<<<<<<<< LINKS >>>>>>>>>>>>>>>>>> */
a:link {
    color: #080914;
    text-decoration: none;
    margin-bottom: 10px;
}

a:visited {
    color: #080914;
}

a:hover {
    color: #D36008;
}

a:active {
    color: #D36008;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: #D36008;
}